
body { background-color: #eeeeee; 
        color: #000000; 
		font-family: 'Roboto', sans-serif;
		font-size: 10pt;
		height: 100%
} 
table {
	border:0px;
	border-style: solid;	
}

hr{
	color: #ffffff;
}

td{
	border:1px;
	border-style: solid;
	border-color: #999999;
	text-align: left;
	vertical-align:top;
	padding: 5px;
}

textarea { resize: none; }

img {
	box-shadow: 0px 2px 5px #999999;
}
	
#wrapper { 
		background-color: #ffffff;
		margin-left:auto;
		margin-right:auto;
		width: 960px;
		box-shadow: 2px 2px 5px #dddddd;
		padding: 5px;
		
}  

ul  li{ 
			list-style-type:none; 
		} 

#header{
		background-color: #2196F3;
		padding: 5px;
		box-shadow: 0px 2px 5px #999999;
		
}

#title h1{
	color: #ffffff;
	font-size: 32px;
	font-weight: 200;

}

#title a {
	display: inline-block;
	padding: 5px 10px 6px;
	background-color: #2196F3;
	color: #fff;
	text-decoration: none;

}

h1{
	font-weight: 300;
}
h2{
	font-weight: 300;
}

h3{
	font-weight: 300;
}

h4{
	font-weight: 300;
}
#logo {   
       border-bottom: 0px solid #000000; 
       padding:10px; 
}

